name: SS58
on:
  schedule:
    - cron:  '45 3 * * *'

jobs:
  ss58:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: check
      env:
        CI_LOG: 123
      run: |
        yarn install --immutable | grep -v 'YN0013'
        yarn networks:crosscheck

    - name: issue
      if: ${{ failure() }}
      uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT_BOT }}
      with:
        filename: .github/ss58-check.md
